---
import '@/styles/globals.css'
import '@/styles/fonts.css'

interface Props {
  title?: string
  description?: string
  ogImage?: URL
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const { title, description } = Astro.props
---

<meta charset="utf-8" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<meta name="author" content="Sarah T." />
<meta name="copyright" content="© Sarah T. 2025" />

<link rel="canonical" href={canonicalURL} />
<link rel="icon" type="image/png" href="/favicon.png" />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
